.section_title_about {
    &:before {
        left: -280px;
    }

    &:after {
        left: 230px;
    }
}

.about_box {
    display: flex;
    align-items: center;
}

.about_text_box {
    text-align: center;
    width: 75%;
    margin: 0 auto;
}

.about_text_box_text {
    font-size: 20px;
    line-height: 1.2;
    font-family: "PT Serif", serif;
}

@media (max-width: 996px) {
    .section_title_about {
        &:before {
            left: -175px;
        }

        &:after {
            left: 230px;
        }
    }

    .about_text_box {
        width: 100%;
    }
}

@media (max-width: 776px) {
    .section_title_about {
        &:before {
            left: -50px;
        }

        &:after {
            left: 230px;
        }
    }

    .about_text_box_text {
        padding-top: 0;
        font-size: 16px;
    }
}

@media (max-width: 500px) {
    .section_title_about {
        &:before {
            left: 17px;
        }

        &:after {
            left: 230px;
        }
    }
}
