.section_title_skils {
    &:before {
        left: -310px;
    }

    &:after {
        left: 260px;
    }
}

.skils_box {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skils_box_item {
    width: 27%;
    margin-bottom: 55px;
    text-align: center;
    margin-right: 35px;

    &:nth-child(3) {
        margin-right: 0;
    }

    &:nth-child(5) {
        margin-right: 0;
    }

}

.skils_box_item_icon img {
    width: 55px;
    height: auto;
}

.skils_box_item_title {
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    margin-bottom: 15px;
}

.skils_box_item_text {
    font-size: 18px;
    line-height: 1.2;
    font-family: 'Lora', serif;
}

@media (max-width: 996px) {
    .section_title_skils {
        &:before {
            left: -207px;
        }

        &:after {
            left: 260px;
        }
    }
}

@media (max-width: 776px) {
    .section_title_skils {
        &:before {
            left: -83px;
        }

        &:after {
            left: 260px;
        }
    }

    .skils_box_item {
        width: 45%;
        margin-right: 20px;

        &:nth-child(3) {
            width: 55%;
        }
    }
}

@media (max-width: 500px) {
    .section_title_skils {
        &:before {
            left: -14px;
        }

        &:after {
            left: 260px;
        }
    }

    .skils_box_item {
        width: 100%;
        margin-right: 0;

        &:nth-child(3) {
            width: 100%;
        }
    }
}

@media (max-width: 350px) {
    .section_title_skils {
        &:before {
            width: 35px;
            left: 6px;
        }

        &:after {
            width: 35px;
            left: 260px;
        }
    }
}