@import "css_map";

/*============ШРИФТЫ==================*/
@import url("../fonts/PTSerif-Regular");
/* font-family: 'PT Serif', serif;*/
@import url("../fonts/Lora-Regular");
/* font-family: 'Lora', serif; */
@import url("../fonts/Oswald-Medium");
/*font-family: 'Oswald', sans-serif;*/
@import url("../fonts/Raleway-Regular");
/*font-family: 'Raleway', sans-serif;*/
@import url("../fonts/OpenSans-Regular.ttf");
/* font-family: 'Open Sans', sans-serif; */

/*============ОБЩИЕ НАСТРОЙКИ==================*/
*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1300px;
    padding: 0 15px;
    margin: 0 auto;
}

/*========================НАСТРОЙКИ КНОПКИ ЯКОРЯ==============================*/
@import "bottom_btn";
/*========================НАСТРОЙКА БУРГЕР МЕНЮ==============================*/
@import "burger";
/*========================НАСТРОЙКА ШАПКИ==============================*/
@import "header";
/*====================НАСТРОЙКА ТИТУЛЬНОЙ СТРАНИЦЫ=====================*/
@import "intro";
/*========================ОБЩИЕ НАСТРОЙКИ СЕКЦИЙ==============================*/
@import "section";
/*=====================НАСТРОЙКА БЛОКА ОБО МНЕ===========================*/
@import "about";
/*=====================НАСТРОЙКА БЛОКА НАВЫКОВ===========================*/
@import "skils";
/*=====================НАСТРОЙКА БЛОКА ПОРТФОЛИО===========================*/
@import "portfolio";
/*=====================НАСТРОЙКА БЛОКА КОНТАКТЫ===========================*/
@import "contact";
/*=====================НАСТРОЙКА ПОДВАЛА САЙТА===========================*/
@import "footer";